{% extends "::base.html.twig" %}

{% block title %}AppBundle:InscriptionIntervenants:inscrire{% endblock %}

{% block body %}
<h1>Welcome to the InscriptionIntervenants:inscrire page</h1>
{% endblock %}
