{% extends "::base.html.twig" %}

{% block title %}AppBundle:ProjetController:rejoindreProjet{% endblock %}

{% block body %}
<h1>Welcome to the ProjetController:rejoindreProjet page</h1>
{% endblock %}
