{% extends "::base.html.twig" %}

{% block title %}AppBundle:ProjetController:supprimerProjet{% endblock %}

{% block body %}
<h1>Welcome to the ProjetController:supprimerProjet page</h1>
{% endblock %}
