{% extends "::base.html.twig" %}

{% block title %}AppBundle:ProjetController:ajouterProjet{% endblock %}

{% block body %}
    <h1>Welcome to the ProjetController:ajouterProjet page</h1>
{% endblock %}